on:
  schedule:
    - cron: "0 0 30 3-11 *"
    
  push: 
   branches:
     - main
   paths:
     - darwincore/processed/**
  
name: management-prep

jobs:
  fetch-data:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: ubuntu-latest,   r: 'release'}
    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      RSPM: ${{ matrix.config.rspm }}
      GITHUB_TOKEN: ${{ secrets.AUTOMATISATION }}
      gbif_user: ${{ secrets.GBIF_USER }}
      email: ${{ secrets.GBIF_EMAIL }}
      gbif_pwd: ${{ secrets.GBIF_PWD }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{ secrets.AUTOMATISATION }}

      - name: Setup R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          http-user-agent: ${{ matrix.config.http-user-agent }}

      - name: Setup pandoc
        uses: r-lib/actions/setup-pandoc@v2

      - name: Install linux libraries
        run: |
          sudo apt install libsodium-dev
          sudo apt-get install libcurl4-openssl-dev
          sudo apt-get install libgdal-dev libproj-dev
          sudo apt install libudunits2-dev

      - name: Install R packages
        run: |
          source("script/install_packages_management.R")
        shell: Rscript {0}
        
      - name: DWC mapping
        run: |
          source("script/run_management_prep.R")
        shell: Rscript {0}

      - name: Commit and push changes
        uses: devops-infra/action-commit-push@master
        with:
          github_token: ${{ secrets.AUTOMATISATION }}
          commit_prefix: "[AUTO]"
          commit_message: "run management prep"
          target_branch: automatic-management-prep
          
      - name: Get branch name
        run: |
          git branch --show-current

      - name: Create pull request
        uses: devops-infra/action-pull-request@v0.4.2
        with:
          github_token: ${{ secrets.AUTOMATISATION }}
          target_branch: main
          title: "[AUTO] management prep"
          template: .github/PR_management_prep.md
          reviewer: SanderDevisscher
          label: automated workflow
          get_diff: false
